.jp-fragilityWidget {
    /*display: flex;*/
    flex-direction: column;
    overflow: auto;
    font-size: 12px;
}

.jp-IncoreIcon {
    background-image: url("resilience-logo.png");
}

.jp-SyncIcon {
    background-image: url("sync-logo.png");
}
