.jp-dataWidget {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.jp-text {
    margin: auto;
}

.jp-xkcdAttribution {
    margin: 20px auto;
}

.jp-searchBox {
    width: 400px;
    /*text-align: center;*/
}

.jp-search {
    text-align: center;
}